<h1>Places</h1>
<div class="card-outer">
  <div class="card-picture"></div>
  <div class="card-info"></div>
</div>
<% Place.all.each do |place| %>
  <p class="m-3"><%= "#{place.name} - #{place.location}" %></p>
<% end %>
