<div class="d-flex">
  <div class="container-left">
    <%= image_tag("placeholder-restaurant.png") %>
  </div>
  <div class="container-right m-4">
    <h1><%= @place.name %></h1>
    <h2 class="mt-3"><%= @place.address %></h2>
  </div>
</div>
